.image-container {
  border: 1px solid #dddddd;
  position: relative;
  border: none;
}

.image-info-container {
  transition: all 0.5s;
  opacity: 0;
}

.image-container:hover .image-info-container {
  opacity: 1;
}

.icons {
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 100;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;  
}

.icon {
  color: white;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.icon:hover {
  color: grey;
}
