.image-grid-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;      
}

.image-grid-header {    
    margin-bottom: 10px;
    position: absolute;
    left: 0;
}

.image-grid {
    
    margin-left: auto; 
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 50px; 
    display: flex;    
    gap: 10px;
    justify-content: center;
}

.image-grid-column {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    flex-shrink: 1;
    row-gap: 10px;    
}

.image-grid-column img {
    z-index: -10;
}