.searchbar {
  padding: 10px;
  justify-content: space-between;
  transition: all 1s;
  position: sticky;
  background-color: black;
  top: 0;
  font-size: large;
  z-index: 100;
}

.search-logo {
    margin-left: 50px;
    margin-right: 50px;
}